<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="username" value="Admin"></parameter>
  <parameter name="password" value="admin123"></parameter>
    <classes>
      <class name="TestNg_demo.Parameter_demo"/>
    </classes>
  </test> 
</suite> 
	